<footer class="bg-black text-white p-4 w-full bottom-0 clear-both">
  <div class="flex flex-col sm:flex-row justify-center items-center">
    <h6 class="text-lg font-bold p-2 mb-2 sm:mb-0"> Desarrollado por Alexis Suarez</h6>
    <h6 class="text-lg font-bold p-2 hidden sm:inline"> || </h6>

    <div class="flex justify-center sm:justify-between">
      <a href="https://www.linkedin.com/in/alexisuarez" class="block sm:inline"><img src="../../../../assets/imgs/icon_linkedin.svg"
          class="hover:bg-cyan-500 h-10 w-auto p-1 rounded-md"></a>
      <a href="https://github.com/fourlitro" class="block sm:inline"><img src="../../../../assets/imgs/icon_github.svg" 
        class="hover:bg-cyan-500 h-10 w-auto p-1 rounded-md"></a>
    </div>
  </div>
</footer>
