<div class="text-center">
  <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">Pagina Principal</h1>

  <div class="principal">
      <div class="principal__contenido">
          <p>¡Bienvenidos a Play & Games!</p>
          <p>
              En Play & Games, somos una tienda de videojuegos online ampliamente reconocida en el sector de los
              videojuegos. Nuestra pasión por los videojuegos nos ha llevado a ofrecer una amplia gama de títulos
              que abarcan desde los juegos clásicos que han dejado huella en la historia de los videojuegos hasta
              las últimas novedades que mantienen a los jugadores al borde de sus asientos.
          </p>

          <p>
              ¡Únete a la diversión en Play & Games y prepárate para experimentar el mundo de los videojuegos de
              una manera que nunca imaginaste!
          </p>
      </div>
      <img class="principal__imagen" src="imgs/videojuegos.jpg" alt="imagen principal">
  </div>
</div>
