<div class="m-7 flex items-center justify-center">
    <div class="max-w-5xl mx-auto flex flex-col-reverse lg:flex-row justify-between items-center mt-8 mb-8 sm:mb-0">
      <!-- Contenido de texto en la izquierda -->
      <div class="w-full lg:w-1/2 pr-8 sm:p-5">
        <h1 class="text-4xl font-bold tracking-tight text-red-500 border-b-2 border-black mb-4 sm:text-5xl md:text-6xl lg:text-4xl xl:text-5xl">
          Pagina Principal
        </h1>
  
        <div>
          <p class="mb-4">¡Bienvenidos a Play Four Games!</p>
          <p class="mb-4">
            En Play Four Games, somos una tienda de videojuegos online ampliamente reconocida en el sector de los videojuegos. Nuestra pasión por los videojuegos nos ha llevado a ofrecer una amplia gama de títulos que abarcan desde los juegos clásicos que han dejado huella en la historia de los videojuegos hasta las últimas novedades que mantienen a los jugadores al borde de sus asientos.
          </p>
  
          <p>
            ¡Únete a la diversión en Play Four Games y prepárate para experimentar el mundo de los videojuegos de una manera que nunca imaginaste!
          </p>
        </div>
      </div>
  
      <!-- Imagen a la derecha -->
      <img class="w-5/6 lg:w-1/2" src="../../../../assets/imgs/videojuegos.jpg" alt="imagen principal">
    </div>
  </div>
  